@font-face {
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: Roboto;
}

@font-face {
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
  font-family: Ubuntu;
}

@font-face {
  src: url(../assets/fonts/Ubuntu-Light.ttf);
  font-family: Ubuntu-Light;
}

@font-face {
  src: url(../assets/fonts/OpenSans-Regular.ttf);
  font-family: OpenSans;
}

@font-face {
  src: url(../assets/fonts/ProximaNovaReg.ttf);
  font-family: ProximaNova;
}

body {
  background-color: #333940;
  background-repeat: no repeat;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #1F2226;
  padding: 0 100px;
  box-sizing: border-box;
  position: fixed;
}

nav .brand {
  padding-left: 31.5%;
  margin: 0;
  color: WHITE;
  float: left;
  height: 100%;
  line-height: 65px;
  text-align: center;
  font-size: 17px;
  font-family: OpenSans;
}

.brand a {
  color: GRAY;
  text-decoration: none;
  transition: .3s;
}

.brand a:hover {
  color: WHITE;
}

.title {
  position: fixed;
  top: 8.5%;
  margin: 80px;
  margin-top: 32px;
  padding: 0;
  font-family: Ubuntu;
  font-size: 23px;
  color: WHITE;
  text-transform: uppercase;
}

.title a {
  color: WHITE;
  text-decoration: none;
  transition: .3s;
}

.title a:hover {
  color: BLACK;
}

.titleLogoContainer {
  position: fixed;
  top: 10.5%;
  left: 1%;
  position: absolute;
}

.titleLogo {
  position: fixed;
  width: 60px;
  height: 50px;
  border-radius: 20px;
  padding: 0;
}

.leftContainer {
  border-style: none;
  width: 150px;
  height: 300px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15.6%;
}

.leftContainer li {
  list-style: none;
  padding-top: 10px;
}

.leftContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.leftContainer2 {
  border-style: none;
  width: 80px;
  height: 300px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15.6%;
  left: 10%;
}

.leftContainer2 li {
  list-style: none;
  padding-top: 10px;
}

.leftContainer2 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.leftContainer3 {
  border-style: none;
  width: 60px;
  height: 200px;
  margin-left: 100px;
  margin-top: 20px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 40.2%;
}

.leftContainer3 li {
  list-style: none;
  padding-top: 28px;
}

.leftContainer3 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.leftContainer4 {
  border-style: none;
  width: 210px;
  height: 200px;
  margin-left: 100px;
  margin-top: 20px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 40.2%;
  left: 5%;
}

.leftContainer4 input[type="submit"] {
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 15px;
  border: 1px solid WHITE;
  border-radius: 15px;
}

.leftContainer4 input[type="submit"]:hover {
  border: 1px solid WHITE;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  background: WHITE;
  color: #000;
}

.rightContainer {
  border-style: none;
  width: 120px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15.6%;
  left: 75%;
}

.rightContainer li {
  list-style: none;
  padding-top: 10px;
}

.rightContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.rightContainer2 {
  border-style: none;
  width: 65px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15.6%;
  left: 83%;
}

.rightContainer2 li {
  list-style: none;
  padding-top: 10px;
  text-align: center;
}

.rightContainer2 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.rightContainer3 {
  border-style: none;
  width: 62px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 10px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15.6%;
  left: 88%;
}

.rightContainer3 li {
  list-style: none;
  padding-top: 10px;
  text-align: center;
}

.rightContainer3 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.rightContainer4 {
  border-style: none;
  width: 320px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 40.2%;
  left: 75%;
  text-align: center;
}

.rightContainer4 li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.rightContainer4 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.rightContainer5 {
  border-style: none;
  width: 320px;
  height: 100px;
  margin-left: 100px;
  margin-top: 70px;
  padding-left: 20px;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 65.2%;
  left: 75%;
  text-align: center;
}

.rightContainer5 li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.rightContainer5 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.cameraImgContainer {
  width: 910px;
  height: 650px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 19.7%;
  left: 26.5%;
  padding: 0;
  font-family: sans-serif;
}

.cameraImg {
  width: 100%;
  height: 100%;
}

.dateContainer {
  width: 250px;
  height: 40px;
  position: absolute;
  top: 92%;
  left: 64%;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
}

.deviceStatusTableFixedHeader {
  width: 677px;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-left: 50px;
  margin-top: -250px;
  position: fixed;
  top: 50%;
  font-family: ProximaNova;
}

.deviceStatusTableFixedHeader tbody {
  display: inline-block;
  height: 600px;
  overflow: auto;
}

.deviceStatusTableFixedHeader th, .deviceStatusTableFixedHeader td {
  padding: 5px;
  text-align: center;
}

.deviceStatusTableFixedHeader td:nth-child(1), .deviceStatusTableFixedHeader th:nth-child(1) {
  min-width: 200px;
}

.deviceStatusTableFixedHeader td:nth-child(2), .deviceStatusTableFixedHeader th:nth-child(2) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(3), .deviceStatusTableFixedHeader th:nth-child(3) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(4), .deviceStatusTableFixedHeader th:nth-child(4) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(5), .deviceStatusTableFixedHeader th:nth-child(5) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader thead {
  background-color: black
}

.deviceStatusTableFixedHeader tr {
  display: block;
  position: relative;
}

.sensorStatusTableFixedHeader {
  width: 877px;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-left: 1000px;
  margin-top: -650px;
  position: fixed;
  top: 98.5%;
  font-family: ProximaNova;
}

.sensorStatusTableFixedHeader tbody {
  display: inline-block;
  height: 600px;
  overflow: auto;
}

.sensorStatusTableFixedHeader th, .sensorStatusTableFixedHeader td {
  padding: 5px;
  text-align: center;
}

.sensorStatusTableFixedHeader td:nth-child(1), .sensorStatusTableFixedHeader th:nth-child(1) {
  min-width: 200px;
}

.sensorStatusTableFixedHeader td:nth-child(2), .sensorStatusTableFixedHeader th:nth-child(2) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(3), .sensorStatusTableFixedHeader th:nth-child(3) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(4), .sensorStatusTableFixedHeader th:nth-child(4) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(5), .sensorStatusTableFixedHeader th:nth-child(5) {
  min-width: 300px;
}

.sensorStatusTableFixedHeader thead {
  background-color: black
}

.sensorStatusTableFixedHeader tr {
  display: block;
  position: relative;
}

.old_ie_wrapper {
  height: 600px;
  width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.old_ie_wrapper tbody {
  height: auto;
}
