{% extends 'baseLayout.html' %}

{% block content %}

<nav>

  <div class="brand">
    The database log of your system.
    | <a href="{% url 'mainPage' %}">Home Page</a>
  </div>

</nav>

<div class="title">
  IOT database
</div>

<div class="titleLogoContainer">
  <img src="../assets/rpilogo.png" class="titleLogo" />
</div>


<div>
  {% for values in deviceStatusObjects %}

  <ul>
    <li><a>fans: {{values.fansStatus}}
        lights: {{values.lightsStatus}}
        water: {{values.waterStatus}}
        seed: {{values.seedStatus}}
        date/time: {{values.date}}
        <a></li>
  </ul>


  {% endfor %}
</div>





{% endblock %}
