{% extends 'baseLayout.html' %}

{% block content %}

<nav>

  <div class="brand">
    An automated indoor gardening system using raspberry pi.
    | <a href="{% url 'databasePage' %}">See Database Log</a>

  </div>

</nav>

<div class="title">
  <a href="{% url 'mainPage' %}">IOT Dashboard</a>
</div>

<div class="titleLogoContainer">
  <img src="../assets/rpilogo.png" class="titleLogo" />
</div>

<form method='POST' id="buttonForm">
  {% csrf_token %}

  <div class="leftContainer">
    <ul>

      <li><a>Fans<a></li>
      <li><a>Lights<a></li>
      <li><a>Watering System<a></li>
      <li><a>Seeding System<a></li>
    </ul>

  </div>


  <div class="leftContainer2">


    <ul>
      <li><a id="labelFans">{{deviceStatusObjects.fansStatus}}<a></li>
      <li><a id="labelLights">{{deviceStatusObjects.lightsStatus}}<a></li>
      <li><a id="labelWater">{{deviceStatusObjects.waterStatus}}<a></li>
      <li><a id="labelSeed">{{deviceStatusObjects.seedStatus}}<a></li>
    </ul>

  </div>

  <div class="leftContainer3">
    <ul>
      <li><a>Fans<a></li>
      <li><a>Lights<a></li>
      <li><a>Water<a></li>
      <li><a>Seed<a></li>
    </ul>

  </div>
  <div class="leftContainer4">

    <ul>
      <input type='submit' name="onFans_btn" value="on" class="onFan"></button>
      <input type='submit' name="offFans_btn" value="off" class="offFan"></button>

      <input type='submit' name="onLights_btn" value="on" class="onLights"></button>
      <input type='submit' name="offLights_btn" value="off" class="offLights"></button>

      <input type='submit' name="onWater_btn" value="on" class="onWater"></button>
      <input type='submit' name="offWater_btn" value="off" class="offWater"></button>

      <input type='submit' name="onSeed_btn" value="on" class="onSeed"></button>
      <input type='submit' name="offSeed_btn" value="off" class="offSeed"></button>
    </ul>

  </div>

</form>

<form method='POST' id="sensorsForm">
  {% csrf_token %}



  <div class="rightContainer">
    <ul>
      <li><a>Sensors<a></li>
      <li><a>Temperature(C)<a></li>
      <li><a>Humidity<a></li>
      <li><a>Soil Moisture<a></li>
    </ul>
  </div>
  <div class="rightContainer2">
    <ul>
      <li><a>reading<a></li>
      <li><a id="labelTemperature">{{sensorsObjects.temperature}}<a></li>
      <li><a id="labelHumidity">{{sensorsObjects.humidity}}<a></li>
      <li><a id="labelMoisture">{{sensorsObjects.moisture}}<a></li>
    </ul>
  </div>
  <div class="rightContainer3">
    <ul>
      <li><a>Status<a></li>
      <li><a>Fine<a></li>
      <li><a>Fine<a></li>
      <li><a>Fine<a></li>
    </ul>
  </div>
  <div class="rightContainer4">
    <ul>
      <li><a>growth monitor<a></li>
    </ul>
    <ul>
      <li><a>Plant1<a></li>
      <li><a>Plant2<a></li>
      <li><a>Plant3<a></li>
      <li><a>Plant4<a></li>
    </ul>
  </div>

  <div class="rightContainer5">
    Summary
    <ul>
      <li><a id="labelSummary">{{sensorsObjects.summary}}<a></li>
    </ul>
  </div>

</form>

<form method='POST' id="imageForm">
  {% csrf_token %}
  <div class="cameraImgContainer">
    <img id="cameraID" class="cameraImg" src={{cameraObjects.cameraURL}}>
  </div>


  <div class="dateContainer">
    <a id="dateID">As of: {{cameraObjects.date}}<a>
  </div>

</form>


{% endblock %}
