{% extends 'baseLayout.html' %}

{% block content %}



<div class="title">
  <img src="../assets/icons/leafIcon.png" class="titleLogo" />
  <a href="{% url 'mainPage' %}">A.G.E DASHBOARD</a>


</div>



<div class="headlineContainer">
  AGE THESIS
  <!--
  <div class="brand">
    An automated indoor gardening system using raspberry pi.
    | <a href="{% url 'databasePage' %}">See Database Log</a>

  </div>
-->
</div>


<form method='POST' id="mainForm">
  {% csrf_token %}

  <div id="mySidenav" class="hiddenSideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="devicesContainer">

      <img style="width: 30px; height: 30px;" src="../assets/icons/airIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onFans_btn" value=" " class="onFan"></button>
      <input style="background-color: red;" type='submit' name="offFans_btn" value=" " class="offFan"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/sunIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onLights_btn" value=" " class="onLights"></button>
      <input style="background-color: red;" type='submit' name="offLights_btn" value=" " class="offLights"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/irrigationIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onWater_btn" value=" " class="onWater"></button>
      <input style="background-color: red;" type='submit' name="offWater_btn" value=" " class="offWater"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/seedIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onSeed_btn" value=" " class="onSeed"></button>
      <input style="background-color: red;" type='submit' name="offSeed_btn" value=" " class="offSeed"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/cameraIcon.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="camera_btn" value=" " class="processImage"></button>


    </div>


  </div>

  <div class="sidenav">
    <div class="sidenavTitleContainer">
      ADMIN TOOLS
    </div>

    <div class="sidenavButtonContainer">

      <a onclick="openNav()"> <img src="../assets/icons/remoteController_black.png" class="sidenavIcon" /> Controller</a>
      <a href="{% url 'databasePage' %}"> <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" /> Database</a>
      <a class='fullReset' type='submit'> <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" /> Full Reset</a>

      <!--         <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" />
                <a href="#clients">Clients</a> -->

    </div>

    <div class="sidenavTitleContainer" style="top: 24%">
      FAQs
    </div>
    <div class="sidenavButtonContainer" style="top: 27.4%">
      <a onclick="openNav()"> <img src="../assets/icons/navControllerIcon_white.jpg" class="sidenavIcon" /> Controller</a>
      <a onclick="openNav()"> <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" /> Full Reset</a>
    </div>
  </div>


  <div class="singleContainer">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/airIcon_white.png" class="singleContainer_icon" />
      <a id="labelFans">Fans: {{deviceStatusObjects.fansStatus}}<a>
    </div>
  </div>

  <div class="singleContainer" style="left: 25%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/sunIcon_white.png" class="singleContainer_icon" />
      <a id="labelLights">Lights: {{deviceStatusObjects.lightsStatus}}<a>
    </div>
  </div>

  <div class="singleContainer" style="left: 34.5%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/waterIcon_white.png" class="singleContainer_icon" />
      <a id="labelWater">Sprinkler: {{deviceStatusObjects.waterStatus}}<a>
    </div>
  </div>

  <div class="singleContainer" style="left: 44%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/seedIcon_white.png" class="singleContainer_icon" />
      <a id="labelSeed">Seeder: {{deviceStatusObjects.seedStatus}}<a>
    </div>
  </div>

  <div class="singleContainer" style="top: 64%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/temperatureIcon.png" class="singleContainer_icon" />
      <a id="labelTemperature">Temperature: {{sensorsObjects.temperature}}<a>
    </div>
  </div>

  <div class="singleContainer" style="left: 25%; top: 64%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/humidityIcon_white.png" class="singleContainer_icon" />
      <a id="labelHumidity">Humidity: {{sensorsObjects.humidity}}<a>
    </div>
  </div>

  <div class="singleContainer" style="left: 34.5%; top: 64%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/soilMoistureIcon_white.png" class="singleContainer_icon" />
      <a style="font-size: 12px;" id="labelMoisture">S. Moisture: {{sensorsObjects.moisture}}<a>
    </div>
  </div>

  <div class="singleContainer" style="left: 44%; top: 64%">
    <div class="singleContainer_iconContainer">
      <img src="../assets/icons/healthIcon_white.png" class="singleContainer_icon" />
      <a style="font-size: 12px;" id="labelMoisture">Condition: {{sensorsObjects.moisture}}<a>
    </div>
  </div>




  {% csrf_token %}


  <div class="growthContainer">
    <ul>
      <li><a>growth monitor<a></li>
    </ul>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant1Growth">{{cameraObjects.plant1}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant2Growth">{{cameraObjects.plant2}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant3Growth">{{cameraObjects.plant3}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant4Growth">{{cameraObjects.plant4}}</a>
    </div>

    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant5Growth">{{cameraObjects.plant5}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant6Growth">{{cameraObjects.plant6}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant7Growth">{{cameraObjects.plant7}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant8Growth">{{cameraObjects.plant8}}</a>
    </div>
    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant9Growth">{{cameraObjects.plant9}}</a>
    </div>

    <div class="circle small">
      <a style="font-size: 35px" id="labelPlant10Growth">{{cameraObjects.plant10}}</a>
    </div>

    <div class="dateContainer" style="top:94%;">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="growthDateID">{{cameraObjects.date}}
      </p>


    </div>
  </div>

  <div class="daysContainer" style="left:54%">

    <div class="circle big">
      <a id="daysID" style="font-size: 100px">{{countersObject.daysCounter}}</a>
      <a style="font-size: 20px">Days</a>
    </div>
    
    <div class="dateContainer" style="top:89%; width:50%; left:48%;">


      <p id="firstDayID">Started: {{countersObject_first.date}}
      </p>


      <p id="lastDayID">Current: {{cameraObjects.date}}
      </p>


    </div>

  </div>


  <div class="summaryContainer">
    Summary
    <ul>
      <li><a id="labelSummary">{{sensorsObjects.summary}}<a></li>
    </ul>

    <div class="dateContainer">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="summaryDateID">{{cameraObjects.date}}
      </p>


    </div>
  </div>








  {% csrf_token %}
  <div class="cameraImgContainer">
    <img id="cameraID" class="cameraImg" src={{cameraObjects.cameraURL}}>
    <!--   <img id="cameraID" class="cameraImg" src={{cameraObjects.cameraURL}}> -->
    <!--   <img id="cameraID" class="cameraImg" src="../assets/gardenPics/test.jpg"> -->
    <div class="dateContainer" style="top:94%;">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="cameraDateID">{{cameraObjects.date}}
      </p>


    </div>
  </div>



</form>


{% endblock %}