{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Thesis</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>




  {% block content %}
  {% endblock %}




</body>

<script src="/assets/js/jquery-2.2.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script>
  window.setTimeout(function() {
    location.href = "{% url 'mainPage' %}";
  }, 30000);
</script>

<script>
  $(".onFan").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onFan',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelFans').text('on');
      },

    });
  });
</script>

<script>
  $(".offFan").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offFan',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelFans').text('off');
      },

    });
  });
</script>

<script>
  $(".onLights").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onLights',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelLights').text('on');
      },

    });
  });
</script>

<script>
  $(".offLights").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offLights',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelLights').text('off');
      },

    });
  });
</script>


<script>
  $(".onWater").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onWater',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelWater').text('on');
      },

    });
  });
</script>

<script>
  $(".offWater").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offWater',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelWater').text('off');
      },

    });
  });
</script>

<script>
  $(".onSeed").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onSeed',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelSeed').text('on');
      },

    });
  });
</script>

<script>
  $(".offSeed").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offSeed',

      },
      success: function(json) {
        document.getElementById("buttonForm").reset();
        $('#labelSeed').text('off');
      },

    });
  });
</script>

</html>
